/* RESET PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 13%;
  grid-template-areas: "header" "main" "footer";
}

/* HEADER */
header {
  padding: 2.55% 10%;
  grid-area: header;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 12%;
}

/* NAV */
#navbar {
  width: 40%;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

#navbar ul li a:hover {
  color: #3895bad4;
  transform: scale(1.1);
}

/* MAIN */
main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* SEÇÃO HOME */
#HOME {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../assets/imagens-section/img-section-home.png") no-repeat
    center;
  background-size: cover;
}

#home-container {
  background-color: rgba(255, 255, 255, 0.567);
  padding: 2% 5%;
  border-radius: 10px;
}

#home-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #0d0d0d;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home-container p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0d0d0d;
}

/* SEÇÃO SOBRE NÓS */
#SOBRE {
  height: 90vh;
  padding: 5% 17%;
  display: flex;
  justify-content: space-around;
  gap: 18%;
  align-items: center;
  background-color: #d7d7d7;
}

#img-about img {
  border-radius: 10px;
}

#text-about h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #0d0d0d;
  margin-bottom: 2%;
  text-align: left;
}

#text-about p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0d0d0d;
  line-height: 1.5;
  text-align: justify;
}

/* SECTION SERVIÇOS */
#SERVICO {
  border-top: 1px solid #000000;
  height: auto;
  background-color: #ffffff;
  padding: 2% 15%;
}

#service-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#service-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.service-category {
  border-radius: 15px;
  margin: 1.5% 0;
  padding: 1% 2%;
  width: 50%;
}

.name-category {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2%;
}

.service-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.service-card {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 4% 2%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.service-card a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1%;
  color: #ffffff;
  background-color: #000000;
  border-radius: 15px;
}

.service-card a:hover {
  background-color: #a4bc80;
}

.icon {
  border: 1px solid #000000;
  background-color: #eeeeee;
  border-radius: 15px;
  display: flex;
  padding: 4%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.icon img {
  width: 65%;
}

.text-service {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1%;
}

.description-service {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 4.5%;
}

/* SECTION DEPOIMENTOS */
#DEPOIMENTOS {
  border-top: 1px solid #000000;
  height: 80vh;
  padding: 4% 14%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#text-depoiments {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

#text-depoiments h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

#text-depoiments p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.2;
}

#depoiments {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 2%;
}

.card-depoiments {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 4% 8%;
  border-radius: 15px;
}

.card-depoiments p {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 5%;
}

.card-depoiments h2 {
  font-size: 1rem;
}

.card-depoiments h2::before {
  content: "-";
  margin-right: 2%;
}

/* SECTION CONTATO */
#CONTATO {
  border-top: 1px solid #000000;
  background-color: #ffffff;
  padding: 4% 17%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
}

#text-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

#text-description h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

#text-description p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.2;
}

#contato-form {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

#form-contato {
  padding: 4% 2%;
  width: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 15px;
}

#form-contato input {
  height: 10%;
  border-radius: 10px;
  padding-left: 2.5%;
  margin-bottom: 5%;
  font-size: 1rem;
}

#form-contato textarea {
  border-radius: 5px;
  padding: 4% 2%;
  font-size: 1rem;
  margin-bottom: 5%;
}

#form-contato button {
  border-radius: 15px;
  height: 10%;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #2abcbc;
  color: #ffffff;
}

#form-contato button:hover {
  background-color: #256e6e;
}
