/* Error: There's already a module with namespace "media-queries".
 *    ,
 * 14 | @use "PHONE/media-queries";
 *    | ========================== original @use
 * 15 | @use "TABLET/media-queries";
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *    '
 *   SASS/style.scss 15:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"media-queries\".\a    \2577 \a 14 \2502  @use \"PHONE/media-queries\";\a    \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a 15 \2502  @use \"TABLET/media-queries\";\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a    \2575 \a   SASS/style.scss 15:1  root stylesheet";
}
