@charset "UTF-8";
/* RESET PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 13%;
  grid-template-areas: "header" "main" "footer";
}

/* HEADER */
.header {
  padding: 2.55% 10%;
  grid-area: header;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 12%;
}

.header__logo__320px {
  display: none;
}

/* NAV */
.menu {
  width: 40%;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: rgba(56, 149, 186, 0.831372549);
  transform: scale(1.1);
}

/* MAIN */
.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* SEÇÃO HOME */
.section__home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../assets/imagens-section/img-section-home.png") no-repeat center;
  background-size: cover;
}

.home__container {
  background-color: rgba(255, 255, 255, 0.568627451);
  padding: 2% 5%;
  border-radius: 10px;
}

.home__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #0d0d0d;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0d0d0d;
}

/* SEÇÃO SOBRE */
.section__about {
  height: 90vh;
  padding: 5% 17%;
  display: flex;
  justify-content: space-around;
  gap: 18%;
  align-items: center;
  background-color: #d7d7d7;
}

.about__img {
  border-radius: 10px;
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #0d0d0d;
  margin-bottom: 2%;
  text-align: left;
}

.about__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #0d0d0d;
  line-height: 1.5;
  text-align: justify;
}

/* SEÇÃO SERVIÇOS */
.section__service {
  border-top: 1px solid #000000;
  height: auto;
  background-color: #ffffff;
  padding: 2% 15%;
}

.service__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__title {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.service__category {
  border-radius: 15px;
  margin: 1.5% 0;
  padding: 1% 2%;
  width: 50%;
}

.name__category {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2%;
}

.service__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.service__card {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 4% 2%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.icon__container {
  border: 1px solid #000000;
  background-color: #eeeeee;
  border-radius: 15px;
  display: flex;
  padding: 4%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.icon__img {
  width: 65%;
}

.text__service {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1%;
}

.description__service {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 4.5%;
}

.service__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1%;
  color: #ffffff;
  background-color: #000000;
  border-radius: 15px;
}

.service__link:hover {
  background-color: #a4bc80;
}

/* SECTION DEPOIMENTOS */
.section__depoiments {
  border-top: 1px solid #000000;
  height: 80vh;
  padding: 4% 14%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text__depoiments {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.depoiments__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.depoiments__description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.2;
}

.depoiments__container {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 2%;
}

.card__depoiments {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 4% 8%;
  border-radius: 15px;
}

.depoiments__paragraph {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 5%;
}

.depoiments__author {
  font-size: 1rem;
}

.depoiments__author::before {
  content: "-";
  margin-right: 2%;
}

/* SECTION CONTATO */
.section__contacto {
  border-top: 1px solid #000000;
  background-color: #ffffff;
  padding: 4% 17%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
}

.contacto__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.contacto__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.contacto__description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.2;
}

.contato__form {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.form__contato {
  padding: 4% 2%;
  width: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 15px;
}

.input {
  height: 10%;
  border-radius: 10px;
  padding-left: 2.5%;
  margin-bottom: 5%;
  font-size: 1rem;
}

.contato__message {
  border-radius: 5px;
  padding: 4% 2%;
  font-size: 1rem;
  margin-bottom: 5%;
}

.botao__submit {
  border-radius: 15px;
  height: 10%;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #2abcbc;
  color: #ffffff;
}

.botao__submit:hover {
  background-color: #256e6e;
}

/* FOOTER */
.footer {
  height: max-content;
  background-color: #111111;
  color: #ffffff;
  padding: 4% 10% 2% 10%;
  font-family: "Poppins", sans-serif;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  align-items: center;
}

.agencia__img {
  width: 30%;
  margin-bottom: 2%;
}

.agencia__description {
  font-size: 0.9rem;
  line-height: 1.2;
  color: #ccc;
}

.footer__title,
.social__title {
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__item {
  margin: 1% 0;
}

.footer__link {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #ffffff;
}

.footer__social {
  display: flex;
  gap: 7%;
}

.social__icons {
  margin-top: 1%;
}

.social__link {
  font-size: 1.2rem;
  color: #ccc;
  transition: color 0.3s ease;
}

.social__link:hover {
  color: #ffffff;
}

.footer__bottom {
  border-top: 1px solid #333;
  margin-top: 2%;
  padding-top: 1%;
  text-align: center;
  font-size: 0.85rem;
  color: #888;
}

/* MEDIA QUERIES - CELULAR */
@media (min-width: 320px) and (max-width: 600px) {
  .header {
    padding: 1.55% 5%;
  }
  .header__logo {
    display: none;
  }
  .header__logo__320px {
    display: flex;
    width: 17%;
  }
  .menu {
    width: 74%;
  }
  .menu__link {
    font-weight: 500;
    font-size: 0.45rem;
  }
  /* HOME */
  .home__title {
    font-size: 1rem;
  }
  .home__subtitle {
    font-size: 0.65rem;
  }
  /* SOBRE NÓS */
  .section__about {
    flex-direction: column-reverse;
    gap: 0;
  }
  .about__img {
    width: 98%;
  }
  .about__title {
    font-size: 1rem;
  }
  .about__subtitle {
    font-size: 0.78rem;
  }
  /* SERVIÇO */
  .section__service {
    padding: 2% 5%;
  }
  .service__title {
    font-size: 1rem;
  }
  .service__category {
    font-size: 0.9rem;
  }
  .service__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__card {
    width: 90%;
    margin-bottom: 6%;
  }
  .service__link {
    padding: 2.5%;
    font-size: 0.7rem;
  }
  .text__service {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 4.5%;
  }
  /* DEPOIMENTOS */
  .section__depoimensts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52vh;
  }
  .depoiments__title {
    font-size: 1rem;
  }
  .depoiments__description {
    font-size: 0.85rem;
  }
  .card__depoiments {
    margin-bottom: 2.5%;
  }
  .depoiments__paragraph {
    font-size: 0.58rem;
    font-style: italic;
    margin-bottom: 5%;
  }
  .depoiments__author {
    font-size: 0.68rem;
  }
  .depoiments__author::before {
    content: "-";
    margin-right: 2%;
  }
  /* CONTATO */
  .section__contacto {
    display: flex;
    flex-direction: column;
    gap: 12%;
    align-items: center;
    height: 52vh;
  }
  .contacto__container {
    width: 40%;
    margin-bottom: -15%;
  }
  .contacto__title {
    font-size: 1rem;
  }
  .contacto__description {
    font-size: 0.78rem;
  }
  .contato__form {
    width: 56%;
    padding: 0;
  }
  .form__contato {
    width: 95%;
    height: 100%;
    margin-left: -3%;
  }
  .input {
    height: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.55rem;
  }
  .contato__message {
    font-size: 0.55rem;
  }
  .botao__submit {
    height: 8%;
    font-size: 0.55rem;
  }
  /* FOOTER */
  .agencia__img {
    width: 80%;
  }
  .agencia__description {
    font-size: 0.53rem;
  }
  .footer__links,
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__link {
    font-size: 0.65rem;
  }
  .social__link {
    font-size: 0.8rem;
  }
  .footer__bottom {
    padding-top: 2%;
    font-size: 0.58rem;
  }
}
/* MEDIA QUERIES - TABLET PEQUENO */
@media (min-width: 601px) and (max-width: 800px) {
  /* HEADER */
  .header__logo {
    width: 23%;
  }
  .menu {
    width: 67%;
  }
  .menu__link {
    font-weight: 500;
    font-size: 0.7rem;
  }
  /* HOME */
  .hone__title {
    font-size: 1.5rem;
  }
  .home__subtitle {
    font-size: 0.8rem;
  }
  /* SOBRE NÓS */
  .section__about {
    flex-direction: column-reverse;
    gap: 0;
  }
  .about__img {
    width: 98%;
  }
  .about__title {
    font-size: 1.2rem;
  }
  .about__subtitle {
    font-size: 0.9rem;
  }
  /* SERVIÇO */
  .section__service {
    padding: 2% 5%;
  }
  .service__title {
    font-size: 1rem;
  }
  .service__category {
    font-size: 0.9rem;
  }
  .service__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__card {
    width: 60%;
    margin-bottom: 6%;
  }
  .service__link {
    padding: 2.5%;
    font-size: 0.7rem;
  }
  .text__service {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 1%;
  }
  .description__service {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 4.5%;
  }
  /* DEPOIMENTOS */
  .section__depoiments {
    height: 52vh;
  }
  .depoiments__title {
    font-size: 1rem;
  }
  .depoiments__description {
    font-size: 0.85rem;
  }
  .depoiments__paragraph {
    font-size: 0.62rem;
    font-style: italic;
    margin-bottom: 5%;
  }
  .depoiments__author {
    font-size: 0.78rem;
  }
  .depoiments__author::before {
    content: "-";
    margin-right: 2%;
  }
  /* CONTATO */
  .section__contacto {
    display: flex;
    flex-direction: row;
    gap: 12%;
    align-items: center;
    height: 35vh;
  }
  .contacto__container {
    width: 40%;
  }
  .contacto__title {
    font-size: 1rem;
  }
  .contacto__description {
    font-size: 0.78rem;
  }
  .contato__form {
    width: 56%;
    padding-top: 0;
  }
  .form__contato {
    width: 95%;
    height: 38%;
  }
  .input {
    height: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.65rem;
  }
  .contato__message {
    font-size: 0.65rem;
  }
  .botao__submit {
    height: 8%;
    padding: 2%;
    font-size: 0.65rem;
  }
  /* FOOTER */
  .agencia__img {
    width: 45%;
  }
  .agencia__description {
    font-size: 0.63rem;
  }
  .footer__links,
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__title,
  .social__title {
    font-size: 1rem;
  }
  .footer__link {
    font-size: 0.75rem;
  }
  .social__link {
    font-size: 1rem;
  }
  .footer__bottom {
    padding-top: 2%;
    font-size: 0.73rem;
  }
}
/* MEDIA QUERIES - TABLET GRANDE */
@media (min-width: 801px) and (max-width: 1024px) {
  /* HEADER */
  .header__logo {
    width: 14%;
  }
  .menu {
    width: 53%;
  }
  .menu__link {
    font-weight: 500;
    font-size: 0.8rem;
  }
  /* HOME */
  .home__title {
    font-size: 1.5rem;
  }
  .home__subtitle {
    font-size: 0.8rem;
  }
  /* SOBRE NÓS */
  .section__about {
    flex-direction: column-reverse;
    gap: 0;
  }
  .about__title {
    font-size: 1.5rem;
  }
  .about__subtitle {
    font-size: 1rem;
  }
  /* SERVIÇO */
  .section__service {
    padding: 2% 5%;
  }
  .service__title {
    font-size: 1.3rem;
  }
  .service__category {
    font-size: 1rem;
  }
  .service__link {
    font-size: 0.7rem;
  }
  .text__service {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 1%;
  }
  .description__service {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 4.5%;
  }
  /* DEPOIMENTOS */
  .section__depoiments {
    height: 52vh;
  }
  .depoiments__title {
    font-size: 1.2rem;
  }
  .depoiments__description {
    font-size: 0.95rem;
  }
  .depoiments__paragraph {
    font-size: 0.78rem;
    font-style: italic;
    margin-bottom: 5%;
  }
  .depoiments__author {
    font-size: 0.88rem;
  }
  .depoiments__author::before {
    content: "-";
    margin-right: 2%;
  }
  /* CONTANTO */
  .contacto__title {
    font-size: 1.2rem;
  }
  .contacto__description {
    font-size: 0.98rem;
  }
  .form__contato {
    width: 85%;
    height: 45%;
  }
  .input {
    height: 8%;
    font-size: 0.75rem;
  }
  .contato__message {
    font-size: 0.75rem;
  }
  .botao__submit {
    height: 8%;
    font-size: 0.75rem;
  }
  /* FOOTER */
  .agencia__img {
    width: 45%;
  }
  .agencia__description {
    font-size: 0.63rem;
  }
  .footer__links,
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__title,
  .social__title {
    font-size: 1rem;
  }
  .footer__link {
    font-size: 0.75rem;
  }
  .social__link {
    font-size: 1rem;
  }
  .footer__bottom {
    font-size: 0.73rem;
  }
}

/*# sourceMappingURL=style.css.map */
