@use "variaveis";
@use "base";

/* HEADER */
.header {
  padding: 2.55% 10%;
  grid-area: header;
  background-color: variaveis.$primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 12%;
}

.header__logo__320px {
  display: none;
}

/* NAV */
.menu {
  width: 40%;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  color: variaveis.$color-link;
  font-family: variaveis.$font-family;
  font-weight: variaveis.$weight-text;
  font-size: variaveis.$size-text;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: #3895bad4;
  transform: scale(1.1);
}
