@use "variaveis";
@use "mixins";

/* MAIN */
.main {
  grid-area: main;
  background-color: variaveis.$third-color;
}

/* SEÇÃO HOME */
.section__home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../assets/imagens-section/img-section-home.png") no-repeat
    center;
  background-size: cover;
}

.home__container {
  background-color: variaveis.$secondery-color;
  padding: 2% 5%;
  @include mixins.borda-arredondada(10px);
}

.home__title {
  font-family: variaveis.$font-family;
  font-size: variaveis.$title-size;
  color: variaveis.$primary-color;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__subtitle {
  font-family: variaveis.$font-family;
  font-size: variaveis.$subtitle-size;
  color: variaveis.$primary-color;
}

/* SEÇÃO SOBRE */
.section__about {
  height: 90vh;
  padding: 5% 17%;
  display: flex;
  justify-content: space-around;
  gap: 18%;
  align-items: center;
  background-color: #d7d7d7;
}

.about__img {
  @include mixins.borda-arredondada(10px);
}

.about__title {
  font-family: variaveis.$font-family;
  font-size: variaveis.$title-size;
  color: variaveis.$primary-color;
  margin-bottom: 2%;
  text-align: left;
}

.about__subtitle {
  font-family: variaveis.$font-family;
  font-size: variaveis.$subtitle-size;
  color: variaveis.$primary-color;
  line-height: 1.5;
  text-align: justify;
}

/* SEÇÃO SERVIÇOS */
.section__service {
  border-top: 1px solid #000000;
  height: auto;
  background-color: variaveis.$color-link;
  padding: 2% 15%;
}

.service__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service__title {
  text-align: center;
  font-size: variaveis.$title-size;
  font-family: variaveis.$font-family;
}

.service__category {
  @include mixins.borda-arredondada(15px);
  margin: 1.5% 0;
  padding: 1% 2%;
  width: 50%;
}

.name__category {
  text-align: center;
  font-size: 1.5rem;
  font-family: variaveis.$font-family;
  margin-bottom: 2%;
}

.service__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.service__card {
  border: 1px solid #000000;
  @include mixins.borda-arredondada(15px);
  padding: 4% 2%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.icon__container {
  border: 1px solid #000000;
  background-color: #eeeeee;
  @include mixins.borda-arredondada(15px);
  display: flex;
  padding: 4%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.icon__img {
  width: 65%;
}

.text__service {
  font-size: variaveis.$size-text;
  text-align: center;
  margin-bottom: 1%;
}

.description__service {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 4.5%;
}

.service__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1%;
  color: variaveis.$color-link;
  background-color: #000000;
  @include mixins.borda-arredondada(15px);
}

.service__link:hover {
  background-color: #a4bc80;
}

/* SECTION DEPOIMENTOS */
.section__depoiments {
  border-top: 1px solid #000000;
  height: 80vh;
  padding: 4% 14%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text__depoiments {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.depoiments__title {
  font-family: variaveis.$font-family;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.depoiments__description {
  font-size: variaveis.$subtitle-size;
  text-align: justify;
  line-height: 1.2;
}

.depoiments__container {
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 2%;
}

.card__depoiments {
  background-color: variaveis.$color-link;
  border: 1px solid #000000;
  padding: 4% 8%;
  @include mixins.borda-arredondada(15px);
}

.depoiments__paragraph {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 5%;
}

.depoiments__author {
  font-size: variaveis.$size-text;
}

.depoiments__author::before {
  content: "-";
  margin-right: 2%;
}

/* SECTION CONTATO */
.section__contacto {
  border-top: 1px solid #000000;
  background-color: variaveis.$color-link;
  padding: 4% 17%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
}

.contacto__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.contacto__title {
  font-family: variaveis.$font-family;
  text-align: center;
  font-size: variaveis.$title-size - 0.5rem;
  margin-bottom: 5%;
}

.contacto__description {
  font-size: variaveis.$subtitle-size;
  text-align: justify;
  line-height: 1.2;
}

.contato__form {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.form__contato {
  padding: 4% 2%;
  width: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  @include mixins.borda-arredondada(15px);
}

.input {
  height: 10%;
  @include mixins.borda-arredondada(10px);
  padding-left: 2.5%;
  margin-bottom: 5%;
  font-size: variaveis.$size-text;
}

.contato__message {
  @include mixins.borda-arredondada;
  padding: 4% 2%;
  font-size: variaveis.$size-text;
  margin-bottom: 5%;
}

.botao__submit {
  @include mixins.borda-arredondada(15px);
  height: 10%;
  cursor: pointer;
  font-size: variaveis.$size-text - 0.1rem;
  background-color: #2abcbc;
  color: variaveis.$color-link;
}

.botao__submit:hover {
  background-color: #256e6e;
}
