// Variáveis da Página Normal
$primary-color: #0d0d0d;
$secondery-color: #ffffff91;
$third-color: #f5f5f5;
$title-size: 2.5rem;
$subtitle-size: 1.2rem;
$color-link: #ffffff;
$size-text: 1rem;
$font-family: "Poppins", sans-serif;
$weight-text: 500;
